<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokéFans</title>

</head>
    <header>Welcome <%- user %>-sama </header><br>
    To encounter a random Pokémon, select <a href="/encounter">Random</a><br><br>

    To view all of your Pokémon, select <a href="/pc">PC</a>
    <hr><br>

    To view all available Pokémon and your Pokédex progress, select <a href="/pokedex">Pokédex</a>
</body>
</html>